.addEvent-container {
    display: flex;
    flex-wrap: wrap;
}

.side-bar {
    width: 33%;
    padding: 20px 30px;
    margin-top: 20px;
    border-left: 1px solid #f5f0f0;
}

.pannel-out {
    width: 64%;
    height: 650px;
    background-color: #f7ffff;
}

.pannel-in {
    padding: 50px;
    border-radius: 20px;
    margin: 30px 50px;
    background-color: #fff;
}