.volt-sec {
    border-radius: 5px;
    color: azure;
    background-color: #6cc2c2;
    margin: 20px 5px;
    text-align: center;
}

.volt-sec img {
    height: 300px;
}

.volt-sec p {
    padding: 5px 0;
    font-weight: 700;
}

.volt-sec p img {
    height: 20px;
    cursor: pointer;
}