.volt-sec img {
    width: 265px;
    height: 150px;
}

.volt-sec {
    border: 1px solid #96a1a1;
    border-radius: 5px;
    /* padding: 5px 5px; */
    background-color: #f4fafa;
    margin: 20px 5px;
}

.volt-sec:hover {
    background-color: #dcfcfc;
    box-shadow: 2px 1px #007BFF;
}