.simple-btn {
    color: #a5b1b1;
    border: 1px solid #96a1a1;
    margin-right: 10px;
    background-color: transparent;
    font-weight: 400;
}

.simple-btn:hover {
    color: azure;
    background-color: #007BFF;
}

.simple-btn:focus {
    color: #a5b1b1;
    background-color: transparent;
    border-style: outset;
}

.link-control a {
    color: #a5a5a5;
    text-decoration: none;
}

.link-control a:hover {
    color: #ffffffbf;
}

.link-control a:focus {
    color: azure;
    border-bottom: 1px solid azure;
}