.logo {
    height: 50px;
}

.simple-btn {
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    margin-right: 10px;
    background-color: transparent;
}

.simple-btn:hover {
    color: #000;
}

.simple-btn:focus {
    color: azure;
    background-color: #007BFF;
    border: 1px solid #000;
    border-style: dotted;
}

.link-control a {
    color: #a1a1a1;
    text-decoration: none;
    padding: 0 10px;
    font-size: 18px;
}

.link-control a:hover {
    color: #000;
}

.link-control a:focus {
    color: #000;
    border-bottom: 1px solid #000;
}